#root {
    position: relative;
}

#root ul {
    list-style-type: none;
    margin: 0;
    
}

#root > ul{
    padding: 0;
}

#root > ul li{
    padding: 0;
    margin: 0;

}


.folder-hidde{
    display: none;
}

.material-icons{
    padding: 0;
    margin: 0;
    /* float: left; */
}

.right-click-menu{
    position: absolute;
    display: none;
}

.show-menu{
    display: block;
}

span{
    display: inline-block;
    width: calc(100% - 28px);
    /* margin-left: 30px; */
}

.right-click-menu{
    background: gray;
}
