@function colors($key) {
    @return map-get($colors, $key);
}

@mixin logo($font-color, $margin-top) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: $margin-top;
    color: $font-color;

    img {
        width: 55px;
        height: 55px;
    }

    p {
        font-family: $font-hind;
        font-size: 30px;
        font-weight: 400;
        line-height: 0.8em;
        display: flex;
        flex-direction: column;
        text-align: center;
        text-transform: uppercase;
        margin: 5px 0px 0px 20px;

        >span {
            text-transform: lowercase;
            font-weight: 100;
            font-size: 0.5em;
        }
    }

}

@mixin word-bg-wrap($top, $right, $width, $height) {

    content: '';
    position: absolute;
    top: $top;
    left: $right;
    height: $height;
    width: $width;
    background: colors('text-mark-bg');
    z-index: -1;

}

@mixin button ($bacground:$button-bg, $color:$main-bg) {
    background: colors('button-bg');
    border: none;
    cursor: pointer;
    padding: 22px 55px;
    font-weight: 600;
    font-size: 1.3em;
    line-height: 1;
    color: $color;
    min-width: 180px;
}

@mixin link($color, $opacity: 1) {
    color: rgba($color, $opacity);

    &:hover {
        color: $color;
    }

}

body,
html {
    height: 100%;
}

html,
body,
p,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

body {
    background: colors('main-bg');
}


.landing-logo {
    @include logo($header-font-color, 25px);
}



.header {
    background: $header-bg-url;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 0% 0% 43% 0% / 0% 0% 38% 0%;
    border: 0px solid #000000;
    padding: 0 0 230px 0;
    color: colors('header-font-color');
    font-family: $font-source;

    &-wrap {
        display: flex;
        flex-direction: column;
        margin: auto 180px;
    }

    &_heading {
        max-width: 600px;
        font-size: 89px;
        font-weight: bold;
        line-height: 1em;
        margin-top: 93px;
        position: relative;
        z-index: 1;

        &::before {
            @include word-bg-wrap(90px, 0, 373px, 90px)
        }
    }

    &_text {
        margin-top: 75px;
        font-size: 1.2em;
        line-height: 2em;
        max-width: 815px;
        text-align: left;
        font-weight: 300;
        margin-bottom: 90px;
    }

    &_button {
        @include button();
    }
}

.login {
    @include link(colors('link-color'), 1);
    font-weight: 400;
    font-size: 1.6em;
    line-height: 1;
    margin: 0 0 0 190px
}

.section {
    margin: 0 15%;
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-family: $font-source;

    &_text {
        font-family: $font-source;
        font-size: 55px;
        font-weight: 600;
        line-height: 1em;
        display: inline-block;
        position: relative;
        z-index: 1;
        color: colors('header-font-color');


        &::before {
            @include word-bg-wrap(0, 285px, 260px, 55px)
        }
    }

    &_card_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 60px 5% 0 5%;
    }

    &_card {
        display: flex;
        background: colors('article-bg');
        border-radius: 10px;
        margin: 0 0 30px 0;
        padding: 15px;
        color: colors('article-font-color');


        &_img {
            border-radius: 10px;
            width: 100%;
            margin-right: 100px;
        }

        &_right_container {
            padding: 35px 0 60px 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin-right: 100px;

        }

        &_heading {
            font-size: 30px;
            font-weight: 600;
            line-height: 1em;
        }

        &_text {
            margin: 40px 0 20px 0;
            color: rgba(colors('article-font-color'), .6);
            font-size: 1.2em;
        }
    }

    &_link {
        @include link(colors('article-font-color'), .6);
        font-size: 1.2em;
    }

    &_banner {
        border-radius: 10px;
        display: flex;
        padding: 40px 130px 60px 130px;
        background: linear-gradient(90deg, colors('gradient-color-1'), colors('gradient-color-2'));
        margin-top: 150px;
        z-index: 2;

        &_button {
            @extend .header_button;
            margin: 20px 0px 0px 250px;
        }

        &_heading {
            @extend .section_text;
            font-size: 38px;

            &::before {
                @include word-bg-wrap(0, 150px, 80px, 38px)
            }
        }

        &_text {
            font-size: 1.2em;
            color: rgba(colors('article-font-color'), .6);
            margin: 30px 0 0 0;
        }
    }
}



.footer {
    background: colors('footer-bg');
    color: rgba(colors('article-font-color'), .6);
    font-family: $font-source;
    z-index: 0;
    margin-top: -85px;


    &-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 170px 190px 70px 190px;

    }

    &_text {
        max-width: 370px;
    }

    &-cr {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &_logo {
        @include logo(colors('footer-logo-color'), 0);
    }
}