$header-bg-url: url(../img/m-h-day.jpg);
$font-source: 'Source Sans Pro', sans-serif;
$font-hind: 'Hind', sans-serif;
$font-fresca: 'Fresca', sans-serif;

$colors:(
    'button-bg': #558A20,
    'main-bg': #FFFFFF,
    'text-mark-bg': #0094BA,
    'gradient-color-1': #558A20,
    'gradient-color-2': #1D54C1,
    'header-font-color': #272A34,
    'article-bg': #1E2028,
    'footer-logo-color': #D1D1D1,
    'article-font-color': #FFFFFF,
    'footer-bg': #1E2028,
    'link-color': #FFFFFF
)