$header-bg-url: url(../img/m-h-night.jpg);
$font-source: 'Source Sans Pro', sans-serif;
$font-hind: 'Hind', sans-serif;
$font-fresca: 'Fresca', sans-serif;

$colors:(
    'button-bg': #E5A227,
    'main-bg': #1E2028,
    'text-mark-bg': #FF4535,
    'gradient-color-1': #E39F27,
    'gradient-color-2': #922D45,
    'header-font-color': #FFFFFF,
    'article-bg': #333746,
    'footer-logo-color': #D1D1D1,
    'article-font-color': #FFFFFF,
    'footer-bg': #333746,
    'link-color': #FFFFFF
)



